body{
    background-color: lightgray;
}
form{
    width: 640px;
    margin: 0 auto;
    background-color: white;
    padding: 45px;
}
#SaveMessage{
    color: green;
    background-color: lightgreen;
    border: 1px solid green;
    padding: 20px;
    display: block;
}
#closeSaveMessage{
    width: 638px;
    margin: -20px 0 0 -20px;
    text-align: right;
}
#closeSaveMessage:hover{
    outline: 1px solid green;
    cursor: pointer;
}
#ValidationSummary1, #ValidationSummary2, #ErrorMessages{
    color: red;
    background-color: pink;
    border: 1px solid red;
    padding: 20px;
    display: block;
}